In [1]:
import pandas as pd
import numpy as np

In [4]:
# DataFrame in pandas - using dictionary
info = {
    "Name" : ["Adam", "Eve", "Bob"],
    "Marks" : [78, 99, 85],
    "Grade" : ['B', 'O', 'A']
}

df = pd.DataFrame(info)

print(df)
print("\n", type(df))

   Name  Marks Grade
0  Adam     78     B
1   Eve     99     O
2   Bob     85     A

 <class 'pandas.core.frame.DataFrame'>

In [10]:
df # Can also give proper structure like this

      Name  Marks
0     Adam     96
1      Eve     75
2      Bob     82
3  Charlie     92

In [5]:
print(df.index)        # row labels
print(df.columns)      # column labels

RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Marks', 'Grade'], dtype='object')

# Dataframe using numpy arrays and lists

In [13]:
# DataFrom using Numpy array
np_arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(np_arr, columns=["Col1", "Col2", "Col3"])
print(df)

# DataFrom using Lists
l = [["Adam", 96], ["Eve", 75], ["Bob", 82], ["Charlie", 92]]
df = pd.DataFrame(l, columns=["Name", "Marks"])
df

   Col1  Col2  Col3
0     1     2     3
1     4     5     6
2     7     8     9

      Name  Marks
0     Adam     96
1      Eve     75
2      Bob     82
3  Charlie     92

# Reading csv and json with pandas

In [20]:
# pandas with csv files
data = pd.read_csv("csv1.csv")
print(data, type(data))

# pandas with json files
json_data = pd.read_json("employee_data.json")
print(json_data, type(json_data))

    id          name   age country   gender   income
0    1      John Doe  29.0     USA     Male  55000.0
1    1      John Doe  29.0     USA     Male  55000.0
2    2    Jane Smith   NaN  Canada   Female  62000.0
3    3          Alex   NaN     USA  Unknown  47000.0
4    4  Maria Garcia  34.0   Spain   Female      NaN
5    5        Li Wei  27.0   China     Male  51000.0
6    6           NaN  45.0   India   Female  73000.0
7    7    Ahmed Khan  38.0     NaN     Male  68000.0
8    8    Rachel Lee  29.0     USA   Female  62000.0
9    9   Carlos Ruiz   NaN  Mexico     Male  45000.0
10  10   Emily Davis  31.0     USA      NaN  58000.0 <class 'pandas.core.frame.DataFrame'>
   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000 <class 'pandas.core.frame.DataFrame'>