# Filtering Data

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("globalAirQuality.csv")

In [5]:
df[df["aqi"] > 100] # prints rows where aqi>100

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
6,2025-11-05 00:25:17.554219,US,New York,40.713,-74.006,77.690,65.198,20.302,7.641,62.687,0.734,155,36.729,47.651,4.542
7,2025-11-05 01:25:17.554219,US,New York,40.713,-74.006,57.816,111.709,34.533,6.945,41.304,0.771,115,37.891,53.314,7.605
8,2025-11-05 02:25:17.554219,US,New York,40.713,-74.006,60.914,44.775,40.936,6.779,36.751,1.014,121,24.092,48.148,8.686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17991,2025-11-19 09:25:17.554219,CH,Zurich,47.377,8.542,52.120,71.160,35.405,7.752,39.811,0.878,104,32.556,31.372,2.787
17993,2025-11-19 11:25:17.554219,CH,Zurich,47.377,8.542,76.613,37.495,29.662,5.419,57.042,1.103,153,20.437,79.602,2.663
17995,2025-11-19 13:25:17.554219,CH,Zurich,47.377,8.542,27.899,74.179,41.474,6.677,50.869,1.028,103,7.079,52.443,7.452
17996,2025-11-19 14:25:17.554219,CH,Zurich,47.377,8.542,2.950,47.988,42.235,2.821,35.551,0.644,105,28.734,85.678,4.496
17997,2025-11-19 15:25:17.554219,CH,Zurich,47.377,8.542,61.347,72.908,46.976,5.763,66.492,0.947,122,21.951,72.311,9.660

In [7]:
df[df['aqi']>100][['city', 'aqi']]
# Prints the city and aqi where aqi > 100

           city  aqi
0      New York  108
3      New York  158
6      New York  155
7      New York  115
8      New York  121
...         ...  ...
17991    Zurich  104
17993    Zurich  153
17995    Zurich  103
17996    Zurich  105
17997    Zurich  122

[9721 rows x 2 columns]

In [9]:
df[(df["aqi"] > 100) & (df["timestamp"] == "2025-11-04 18:25:17.554219")]
# prints the rows where aqi > 100 and the specific timestamp

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
360,2025-11-04 18:25:17.554219,US,Los Angeles,34.052,-118.244,52.994,63.756,45.007,7.112,18.348,0.881,112,10.374,33.796,6.130
720,2025-11-04 18:25:17.554219,GB,London,51.507,-0.128,43.320,67.917,43.390,5.677,54.580,0.925,108,34.044,71.339,8.102
1440,2025-11-04 18:25:17.554219,DE,Berlin,52.520,13.405,53.776,75.634,34.751,3.061,52.197,0.793,107,25.385,60.734,2.304
1800,2025-11-04 18:25:17.554219,ES,Madrid,40.417,-3.704,35.041,55.241,49.878,3.080,30.397,0.882,124,29.042,72.507,1.411
2520,2025-11-04 18:25:17.554219,CA,Toronto,43.653,-79.383,64.631,73.235,56.836,8.320,24.929,0.944,142,30.050,77.669,7.254
2880,2025-11-04 18:25:17.554219,MX,Mexico City,19.433,-99.133,55.318,44.950,47.820,3.714,36.142,0.593,119,12.566,31.089,3.164
3240,2025-11-04 18:25:17.554219,BR,São Paulo,-23.550,-46.633,51.126,10.074,47.336,5.776,22.606,0.687,118,26.544,27.263,9.809
3960,2025-11-04 18:25:17.554219,ZA,Cape Town,-33.925,18.424,34.853,105.285,23.779,3.930,47.280,0.867,105,10.124,44.411,7.628
4320,2025-11-04 18:25:17.554219,EG,Cairo,30.044,31.236,54.738,86.629,22.883,5.183,39.764,0.491,109,21.369,50.436,6.588
5760,2025-11-04 18:25:17.554219,SA,Riyadh,24.714,46.675,67.986,89.920,47.557,8.924,62.157,1.277,135,6.922,45.252,7.951
6120,2025-11-04 18:25:17.554219,QA,Doha,25.285,51.531,54.504,39.951,16.904,5.391,43.237,0.915,109,6.103,88.828,8.069
7560,2025-11-04 18:25:17.554219,IN,Kolkata,22.573,88.364,53.758,94.639,38.675,3.651,37.158,1.186,107,23.634,37.008,2.104
8280,2025-11-04 18:25:17.554219,JP,Tokyo,35.676,139.650,32.340,117.481,40.151,5.672,63.998,0.723,117,24.398,54.037,2.945
9360,2025-11-04 18:25:17.554219,CN,Beijing,39.904,116.407,39.173,64.261,42.348,2.638,73.755,0.815,105,18.014,62.475,7.647
10080,2025-11-04 18:25:17.554219,HK,Hong Kong,22.319,114.169,84.773,58.333,55.363,5.271,53.820,0.963,169,36.988,84.889,3.188
10800,2025-11-04 18:25:17.554219,TH,Bangkok,13.756,100.502,51.992,125.521,37.467,4.816,50.238,0.732,125,31.020,70.066,6.458
11160,2025-11-04 18:25:17.554219,MY,Kuala Lumpur,3.139,101.687,79.805,64.628,10.487,7.725,24.033,0.657,159,31.031,39.719,0.649
11520,2025-11-04 18:25:17.554219,ID,Jakarta,-6.209,106.846,15.944,108.221,42.390,5.194,50.761,1.128,108,37.436,35.437,0.660
12600,2025-11-04 18:25:17.554219,NZ,Auckland,-36.848,174.763,34.242,102.113,56.820,10.354,75.994,0.878,142,6.565,41.629,3.733
14040,2025-11-04 18:25:17.554219,PK,Karachi,24.861,67.001,86.959,98.461,51.464,7.724,48.583,0.787,173,36.655,79.050,3.227
14400,2025-11-04 18:25:17.554219,PH,Manila,14.600,120.984,43.976,81.310,52.995,8.879,54.661,0.683,132,17.562,75.949,9.717
15120,2025-11-04 18:25:17.554219,US,San Francisco,37.775,-122.419,46.185,133.725,63.606,4.944,62.872,0.364,159,9.341,47.550,9.955
15480,2025-11-04 18:25:17.554219,US,Chicago,41.878,-87.630,39.726,91.806,41.450,5.057,72.828,0.718,103,28.419,81.709,5.114
16200,2025-11-04 18:25:17.554219,CA,Vancouver,49.283,-123.121,54.055,86.847,23.432,3.715,55.560,1.014,108,28.549,57.788,4.638
16920,2025-11-04 18:25:17.554219,SE,Stockholm,59.329,18.069,46.500,33.297,52.367,7.162,54.054,0.386,130,19.640,51.401,9.353
17280,2025-11-04 18:25:17.554219,FI,Helsinki,60.170,24.938,41.986,55.260,41.747,7.534,60.598,1.264,104,26.816,88.866,1.257
17640,2025-11-04 18:25:17.554219,CH,Zurich,47.377,8.542,37.787,104.854,23.550,11.285,17.016,0.614,104,34.719,46.797,9.232

In [12]:
# you can also store the specific condition in a variable to further apply conditions to it.
aqi_data = df[(df['aqi']>100) & (df['timestamp'] == '2025-11-04 18:25:17.554219')][['city','aqi']]
# Selects the city and aqi column with aqi > 100 and specific timestamp

In [13]:
aqi_data.loc[360] # prints the 360 row with the condition specified
aqi_data.iloc[1]

city    Los Angeles
aqi             112
Name: 360, dtype: object

# Query Methods

In [18]:
# Query - returns a copy, not a view
# we write the condition as a string
df.query("aqi > 100")

# other operators can also be passed as a query
df.query("aqi > 100 & timestamp == '2025-11-04 18:25:17.554219'").head()
# using head to return the top 5 only

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
360,2025-11-04 18:25:17.554219,US,Los Angeles,34.052,-118.244,52.994,63.756,45.007,7.112,18.348,0.881,112,10.374,33.796,6.130
720,2025-11-04 18:25:17.554219,GB,London,51.507,-0.128,43.320,67.917,43.390,5.677,54.580,0.925,108,34.044,71.339,8.102
1440,2025-11-04 18:25:17.554219,DE,Berlin,52.520,13.405,53.776,75.634,34.751,3.061,52.197,0.793,107,25.385,60.734,2.304
1800,2025-11-04 18:25:17.554219,ES,Madrid,40.417,-3.704,35.041,55.241,49.878,3.080,30.397,0.882,124,29.042,72.507,1.411

In [20]:
# We could also use a logic like f-string in python
# using variables inside query method
my_country = "US"
df.query("country == @my_country") # add @ before the variable

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16195,2025-11-19 13:25:17.554219,US,Houston,29.760,-95.370,40.233,87.646,41.984,9.013,45.678,0.149,104,22.672,72.953,0.706
16196,2025-11-19 14:25:17.554219,US,Houston,29.760,-95.370,52.887,99.892,28.703,4.214,35.680,0.654,105,12.411,31.414,9.917
16197,2025-11-19 15:25:17.554219,US,Houston,29.760,-95.370,61.548,101.721,12.324,2.901,39.892,0.697,123,8.683,68.281,5.345
16198,2025-11-19 16:25:17.554219,US,Houston,29.760,-95.370,51.005,57.365,14.859,6.705,35.555,0.783,102,16.854,62.782,5.717
16199,2025-11-19 17:25:17.554219,US,Houston,29.760,-95.370,56.126,57.432,30.305,6.860,51.699,0.516,112,22.639,60.386,8.294

In [23]:
# chained comparisons
df["timestamp"] = pd.to_datetime(df["timestamp"])
df["date"] = df["timestamp"].dt.date
selected_date = pd.to_datetime("2025-11-04").date()

df.query("country == @my_country & date == @selected_date & aqi > 100")

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed,date
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725,2025-11-04
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956,2025-11-04
360,2025-11-04 18:25:17.554219,US,Los Angeles,34.052,-118.244,52.994,63.756,45.007,7.112,18.348,0.881,112,10.374,33.796,6.130,2025-11-04
15120,2025-11-04 18:25:17.554219,US,San Francisco,37.775,-122.419,46.185,133.725,63.606,4.944,62.872,0.364,159,9.341,47.550,9.955,2025-11-04
15122,2025-11-04 20:25:17.554219,US,San Francisco,37.775,-122.419,59.334,68.722,36.352,6.453,58.033,0.848,118,29.024,47.760,5.505,2025-11-04
15123,2025-11-04 21:25:17.554219,US,San Francisco,37.775,-122.419,28.411,128.462,20.171,1.058,48.073,0.460,128,10.582,57.381,3.136,2025-11-04
15124,2025-11-04 22:25:17.554219,US,San Francisco,37.775,-122.419,58.068,95.672,44.524,5.877,36.956,0.586,116,33.995,56.433,3.712,2025-11-04
15125,2025-11-04 23:25:17.554219,US,San Francisco,37.775,-122.419,70.728,3.737,28.951,2.801,64.917,0.908,141,14.347,89.858,8.376,2025-11-04
15480,2025-11-04 18:25:17.554219,US,Chicago,41.878,-87.630,39.726,91.806,41.450,5.057,72.828,0.718,103,28.419,81.709,5.114,2025-11-04
15481,2025-11-04 19:25:17.554219,US,Chicago,41.878,-87.630,0.693,54.776,49.281,10.612,50.990,0.220,123,36.065,75.257,1.443,2025-11-04
15482,2025-11-04 20:25:17.554219,US,Chicago,41.878,-87.630,4.982,25.544,48.796,4.535,34.378,0.202,121,21.461,52.613,3.947,2025-11-04
15841,2025-11-04 19:25:17.554219,US,Houston,29.760,-95.370,87.316,139.395,20.277,4.366,23.788,1.042,174,5.472,80.453,7.258,2025-11-04
15844,2025-11-04 22:25:17.554219,US,Houston,29.760,-95.370,58.212,70.456,23.032,5.310,30.995,0.566,116,17.729,51.327,6.098,2025-11-04
15845,2025-11-04 23:25:17.554219,US,Houston,29.760,-95.370,59.454,89.957,11.030,7.818,62.156,0.765,118,22.365,50.643,5.235,2025-11-04

In [25]:
# Use .copy() to avoid confusion of view or copy
countries = df[["country", "aqi"]].copy() # copies the data
countries.loc[0:4, "country"] = "India" # changes the new data country column from 1 to 4 row to India

print(countries)

      country  aqi
0       India  108
1       India   90
2       India   84
3       India  158
4       India   97
...       ...  ...
17995      CH  103
17996      CH  105
17997      CH  122
17998      CH   95
17999      CH   88

[18000 rows x 2 columns]