In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("globalAirQuality.csv")

In [4]:
df.head()

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017

In [20]:
df["timestamp"] = pd.to_datetime(df["timestamp"]) # reads this in date-time format

selected_date = pd.to_datetime("2025-11-04").date() # lets store the date we want in a variable

df.query("date == @selected_date & aqi > 100").head() # lets call the date condition we want using query and @variable method.

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed,date
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725,2025-11-04
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956,2025-11-04
360,2025-11-04 18:25:17.554219,US,Los Angeles,34.052,-118.244,52.994,63.756,45.007,7.112,18.348,0.881,112,10.374,33.796,6.130,2025-11-04
720,2025-11-04 18:25:17.554219,GB,London,51.507,-0.128,43.320,67.917,43.390,5.677,54.580,0.925,108,34.044,71.339,8.102,2025-11-04
721,2025-11-04 19:25:17.554219,GB,London,51.507,-0.128,52.330,92.035,38.239,7.972,39.335,0.427,104,9.583,81.079,1.437,2025-11-04

In [21]:
(df['timestamp']).dtype # this datatype means our data has transformed to datetime format

dtype('<M8[ns]')

In [18]:
df["date"] = df["timestamp"].dt.date
df["date"]

0        2025-11-04
1        2025-11-04
2        2025-11-04
3        2025-11-04
4        2025-11-04
            ...
17995    2025-11-19
17996    2025-11-19
17997    2025-11-19
17998    2025-11-19
17999    2025-11-19
Name: date, Length: 18000, dtype: object