In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    "country": ["USA", "USA", "India", "India"],
    "year": [2020, 2021, 2020, 2021],
    "sales": [100, 120, 90, 110],
    "profit": [20, 25, 18, 22]
})
df

  country  year  sales  profit
0     USA  2020    100      20
1     USA  2021    120      25
2   India  2020     90      18
3   India  2021    110      22

In [7]:
df = df.melt(
    id_vars=["country", "year"],     # columns to keep
    value_vars=["sales", "profit"],  # columns to unpivot
    var_name="metric",               # new column name for variable
    value_name="value (in Lakhs)"    # new column name for value (default is value)
)

In [8]:
df

  country  year  metric  value (in Lakhs)
0     USA  2020   sales               100
1     USA  2021   sales               120
2   India  2020   sales                90
3   India  2021   sales               110
4     USA  2020  profit                20
5     USA  2021  profit                25
6   India  2020  profit                18
7   India  2021  profit                22

In [9]:
df = df.pivot(
    index=["country", "year"],   # cols that become the NEW row index - can't for just country
    columns="metric",            # col whose unique values will become the cols
    values="value (in Lakhs)"    # col whose values will fill the new df
)

In [10]:
df

metric        profit  sales
country year
India   2020      18     90
        2021      22    110
USA     2020      20    100
        2021      25    120